.serviceBox{
    text-align: center;
    padding: 35px 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover{
    background: #967128;
}
.serviceBox:before{
    content: "";
    width: 40px;
    height: 40px;
    border-width: 20px;
    border-style: solid;
    border-color: #fff #fff rgba(1, 1, 1, 0.2) rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -40px;
    right: -40px;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover:before{
    top: 0;
    right: 0;
}
.serviceBox i{
    display: block;
    font-size: 35px;
    color: #967128;
    margin-bottom: 14px;
    transition: all 0.3s ease 0s;
}
.serviceBox .title{
    font-size: 18px;
    font-weight: 900;
    color: #545454;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 0 16px 0;
    transition: all 0.3s ease 0s;
}
.serviceBox .description{
    font-size: 15px;
    color: #545454;
    line-height: 25px;
    margin: 0;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover i,
.serviceBox:hover .title,
.serviceBox:hover .description{
    color: #fff;
}
.serviceBox .read-more{
    display: inline-block;
    padding: 8px 22px;
    background: #967128;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    border-radius: 9px;
	margin-top: 10px;
}
.serviceBox:hover .read-more{
    background: #fff;
	color: #000;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 20px; }
}